
/**
* Newsfeed styling
*
* @author karthikeyan Indran <kindran@ztech.io>
* @package FoxChapel/NewsFeed
*/

& when (@media-common = true) {
    .feed-wrapper {
        .feed-inner {
            margin-bottom: 100px;
            position: relative;

            &:hover {
                .date {
                    background-color: rgb(205, 23, 30);
                }
            }
        }
        .slick-slide {
            padding: 0 15px;
        }
        .footer-container {
            bottom: -80px;
            box-sizing: border-box;
            background-color: #fff;
            left: 0;
            margin: auto;
            padding: 30px;
            position: absolute;
            right: 0;
            width: ~"calc(100% - 50px)";
            
            h3 {
                margin: 0;
                min-height: 50px;

                @media only screen and (max-width: 1280px) {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
        .img-container {
        font-size: 0;
            
            .date {
                background: rgba(0, 0, 0, 0.5);
                box-sizing: border-box;
                color: rgb(255, 255, 255);
                font-size: 13px;
                height: 30px;
                left: 0;
                padding: 6px;
                position: absolute;
                top: 10px;
                width: 65px;
                z-index: 9;
                
                span {
                    display: inline-block;
                    padding: 0 2px;
                }
            }
            img {
                height: auto;
            }
        }
    }

    body {
        background-color: #f6fafd;
    }
}