// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

& when (@media-common = true) {
    .cms-index-index { 
           .columns {
               .column {
                   &.main {
                       padding-bottom: 0;
                   }
               }
           }
            .home-slider-sec  {
                .pagebuilder-slide-button {
                    background: #000;
                    border: #000;
                    border-radius: 0;
                    color: @color_white;
                    padding: 1rem 3rem;
                    font-weight: normal;
                    font-size: 16px;
                }
                .pagebuilder-column {
                    .dynamic-slider-sec  {
                          height: 100%;
                        div,.banner-items,.banner-item {
                            height: 100%;
                        }
                     }             
                }
                
                .pagebuilder-collage-content {
                    height: auto !important;
                }
                .pagebuilder-overlay {
                    display: flex;
                    align-items: center;
                }
            }
            .slider-side-section{
                .btn {
                    padding:1rem 3rem;
                    &:visited {
                        color: @primary__color;
                    }
                    &:hover {
                        &:visited {
                            color: @color_white;
                        }
                    }
                }
                .widget {
                    &.block {
                        margin-bottom: 0;
                    }
                }
                h6 {    
                    position: relative;     
                    font-size: 14px;                                  
                    &:before {
                        position: absolute;
                        content:'';
                        bottom: -10px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background: @color_white;
                    }
                }
                 p {
                     font-size: 14px;                
                     color: @color_white;
                 }
                >div:first-child {                    
                    h6 {
                        &:before{
                            background: @primary__color;
                        }
                        
                    }     
                    p {
                        color: @primary__color;
                    }               
                }                

        }
        .customer-service-section {
            padding: 10px;
            h3,p {
                color: @color_white;
            }
            .icon-headphones {
                font-size: 40px;
                line-height: 40px;
                color: @color_white;
            }
        }
         /****** magazine section ****/
         .magazine-section {
            text-transform: uppercase;
            .pagebuilder-column {
                position: relative;                
                .magazine-shopping {                    
                    position: absolute;
                    content:'';
                    bottom: 50px;
                    left: 30px;                   
                }
                
            }
            .magazine-content {               
                position: static;     
                a {
                    font-size: 16px;
                    font-weight: 600;
                    position: relative;
                    &:hover {         
                      &:before {
                        position: absolute;        
                        content:'';
                        left:0;
                        bottom: -7px;
                        height: 1px;
                        width: 100%;
                        background: @color_white;
                      }               
                    }
                }                        
            }
            .magazine-title,p,a {
                color: @color_white;
            }
        }        
        /***** home page about us section********/
        .about-us-content {
            padding-left: 70px;
            padding-right: 150px;
            a {
               &:hover {
                   color: @color_red;
               }
            }            
        }    
        .about-us-banner {
            min-height: 550px;
        }    
        
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .cms-index-index {
        .about-us-content {
            padding: 30px;   
        }
        .magazine-section {
            .pagebuilder-column {
                .magazine-shopping {                             
                    bottom: 40px;                    
                }
            }
        }
        
    }    
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
        .dynamic-slider-sec {
            .pagebuilder-overlay {
                .pagebuilder-collage-content {
                    span {
                        font-size: 35px !important;
                        line-height: 40px !important;
                    }
                }
            }
        }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {
    .cms-index-index {
    .about-us-banner {
        min-height: 300px;
    }            
}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cms-index-index {
        .home-slider-sec {
            .slick-dots {
                bottom: 25px;
            }
        }        
        .magazine-section {
            .pagebuilder-column {
                .magazine-content {
                    padding-bottom: 30px;
                }
                .magazine-shopping {
                        position: unset;
                        bottom: 0;
                        left: 0;
                    }
                }
             } 
             .about-us-banner {
                min-height: 225px;
            }               
    }

}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .dynamic-slider-sec {
        .pagebuilder-slider {
            min-height: 325px !important; 
        }
        .pagebuilder-overlay {
            .pagebuilder-collage-content {
                span {
                    font-size: 30px !important;
                    line-height: 35px !important;
                }
            }
        }
    }
}