// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

& when (@media-common = true) {
    .cms-index-index { 
           .columns {
               .column {
                   &.main {
                       padding-bottom: 0;
                   }
               }
           }
            .home-slider-sec  {
                .pagebuilder-slide-button {
                    background: #000;
                    border: #000;
                    border-radius: 0;
                    color: @color_white;
                    padding: 1rem 3rem;
                    font-weight: normal;
                    font-size: 16px;
                }
                div,.banner-items,.banner-item {
                    height: 100%;                    
                }                
                .pagebuilder-collage-content {
                    height: auto;
                }
            }
            .slider-side-section{
                .btn {
                    padding:1rem 3rem;
                }
                .widget {
                    &.block {
                        margin-bottom: 0;
                    }
                }
                h6 {    
                    position: relative;     
                    font-size: 14px;                                  
                    &:before {
                        position: absolute;
                        content:'';
                        bottom: -10px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background: @color_white;
                    }
                }
                 p {
                     font-size: 13px;
                 }
                >div:first-child {
                    h6 {
                        &:before{
                            background: @primary__color;
                        }
                        
                    }                    
                }                

        }
        .customer-service-section {
            .icon-headphones {
                font-size: 40px;
                line-height: 40px;
            }
        }
        /********* best sellect section*******/
        .best-sellers-section {
            max-width: 1600px;
            margin: 0 auto;
            width: 100%;
            padding: 0 15px;
            .seller-content {
                p {
                    font-size: 18px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
        /***** home page about us section********/
        .about-us-content {
            padding-left: 70px;
            padding-right: 150px;
            a {
               &:hover {
                   color: @color_red;
               }
            }
        }        
        
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .cms-index-index {
        .about-us-content {
            padding: 30px;   
        }
    }    
}
