// /**
//  * Reusble variables
//  */

@red-fox:rgb(206, 24, 31);
@line-color: #dbe0e7;

.text-upper {
    text-transform: uppercase;
}
.trans-dur-5 {
    transition-duration: 0.5s;
}
.full-width {
    width: 100%;
}
.abs {
    position: absolute;
}
.border-btm {
    position: relative;
        &:after {
        position: absolute;        
        content:'';
        left:0;
        bottom: -7px;
        height: 1px;
        width: 100%;
        background: @color_white;
        }    
}
