<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <foxchapel_config>
            <general>
                <feed_count>6</feed_count>
                <cron_time>0 * * * *</cron_time>
            </general>
        </foxchapel_config>
    </default>
</config>