<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="magento_catalogpermissions" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Category Permissions</label>
                <field id="hide_category_breadcrumb" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Hide Category from breadcrumb</label>
                    <validate>validate-digits</validate>
                    <comment>This value must be Category ID,that need to be hidden from breadcrumb.</comment>
                </field>
                </group>
              <group id="recently_products" translate="label">
                <field id="compare_product_limit" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Product Compare Limit</label>
                    <validate>validate-digits</validate>
                    <comment>This value must be ,that need to be hidden from breadcrumb.</comment>
                </field>
            </group>
            <group id="category_customurlrewrite" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Category URL Rewrites</label>
                <field id="hide_category" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Custom URL Rewrites</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="category_id" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Specific Category Id</label>
                    <validate>validate-digits</validate>
                    <comment>This value must be Category ID,that need to be hidden from url.</comment>
                </field>
                </group>
        </section>
    </system>
</config>
