// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.minicart-wrapper {
    margin-left: 0px;
    .action{
      &.showcart {
        position: relative;
        &:before {
          content:'\e903';
          font-family:'foxchapel-icon';
          color: #000;
          font-size: 18px;
          line-height: 20px;
        }
        .counter.qty{
          position: absolute;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          top: -20px;
          right: -15px;
          background: @color_red;
          &.empty {
            display: block;
          }
        }
      }
    }
}