// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.minicart-wrapper {
    margin-left: 0px;
    .action{
      &.showcart,
      &.showcart.active {
        position: relative;
        &:before {
          content: @cart;
          font-family: @icon-fox;
          color: @color_black;
          font-size: 18px;
          line-height: 20px;
        }
        .counter.qty{
          position: absolute;
          font-size: 12px;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          top: -20px;
          right: -15px;
          background: @color_red;
          line-height: 25px;
          &.empty {
            display: block;
          }
        }
      }
    }


  .block-minicart {
    border-color: @border_color;
    &:before {
      right: 15px;
    }
    &:after {
      right: 14px;
    }
    .action {
      &.viewcart {
        font-size: 16px;
        color: @color_black;

        &:hover {
          color: @color_red;
        }
      }
    }
  }

  .minicart-items {
    &-wrapper {
      border-color: @border_color;
    }
    .product-item {
      &:not(:first-child) {
        border-top: 1px solid lighten(@minicart__border-color, 0.3);
      }
    }
    .product-item-details {
      .action {
        &.edit {
          &:before {
            font-family: @icon-fox;
            content: @edit;
            font-size: 1.5rem;
            position: relative;
            top: 2px;
          }
        }
      }
    }

    .product-image-photo {
      padding: 8px;
      border: 1px solid lighten(@minicart__border-color, 0.3);
    }
    .product-item-name {
      a {
        color: @primary__color;
        font-size: 14px;
        text-decoration: none;
        &:hover {
          color: @color_red;
        }
      }
    }
  }
}